{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="main-container">
    <div id="jumbotron-custom">
        <div id="jumbowrapper-custom">
            <div id="jumbo-logo-custom">
                <img src="../static/images/avatar.png" alt="">
                <h1>ASCURA</h1>
            </div>
            <div id="jumbo-desc">
                Ascura makes keeping up-to-date on current events and connecting with people easy.
            </div>
            <div id="jumbo-buttons">
                <a href="#">GET STARTED</a>
                <a href="#">LEARN MORE</a>
            </div>
        </div>
    </div>
    <div id="school-list">
        <h3>Made for students in:</h3>
        <div id="school-row">
            <div class="school-col">
                <img src="http://www.icym.edu.my/v14f/images/2020/03/04/saatlogo.png" alt="">
                <img src="http://www.icym.edu.my/v14f/images/2020/03/04/sbmlogo.png" alt="">
            </div>
            <div class="school-col">
                <img src="http://www.icym.edu.my/v14f/images/2020/03/04/scetlogo.png" alt="">
                <img src="http://www.icym.edu.my/v14f/images/2020/03/04/smartlogo.png" alt="">
            </div>
            <div class="school-col">
                <img src="http://www.icym.edu.my/v14f/images/2020/03/04/ssslogo.png" alt="">
                <img src="http://www.icym.edu.my/v14f/images/2020/03/04/shtmlogo.png" alt="">
            </div>      
        </div>
    </div>
    <div id="wycd">
        <div class="do-row">
            <div class="d-left-content">
                <h2 class="d-title">Join the Community</h2>
                <p class="d-desc">Meet new people, organize meetups, find out who somebody is and more! Put yourself out there and make yourself known.</p>
            </div>
            <div class="d-right-content">
                <img src="../static/images/asd.png" alt="">
            </div>
        </div>
        <div class="do-row">
            <div class="d-left-content">
                <h2 class="d-title">Lorem ipsum</h2>
                <p class="d-desc">All hail the coming of the DOOM Slayer. All hail the destroyer.</p>
            </div>
            <div class="d-right-content">
                <img src="../static/images/Doom Slayer.png" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}