{% extends 'layout.html' %}

{% block body %}
    <style>
        #school-wall {
            display: flex;
            justify-content: center;
        }
    </style>
    <div id="main-container">
        <div id="school-wall">
            
            {% include './includes/_school-content.html' %}

            <div id="school-info">                
                <div class="s-post">
                    <h3 class="s-post-title">{{ post.title }}</h3>
                    {% if post.author == current_user %}
                        <div class="post-author-actions">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', school=post.school.school_name|lower, post_id=post.id) }}">Update</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </div>
                    {% endif %}
                    <small class="s-post-stat">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }} by <a href="{{ url_for('user_page', username=post.author.username) }}">{{ post.author.username }}</a></small>
                    <p class="s-post-c">{{ post.content }}</p>
                    {% set comments_count = [] %}
                    {% for comment in comments %}
                        {% if comment.post.id == post.id %}
                            {{ comments_count.append(comment) or "" }}
                        {% endif %}
                    {% endfor %}
                    {% if comments_count|length == 1 %}
                        <small class="s-post-stat">{{ comments_count|length }} Comment</small>
                    {% elif comments_count|length == 0 %}
                        <small class="s-post-stat">No Comments</small>
                    {% else %}
                        <small class="s-post-stat">{{ comments_count|length }} Comments</small>
                    {% endif %}
                </div>
                <div class="s-comment">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <p class="p-comment">Comment as {{ current_user.username }}</p>
                            <div class="form-group">
                                {{ form.content.label(class="p-comment-l") }}
                                {% if form.content.errors %}
                                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.content.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.content(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
                <hr>
                <div id="comments-section">
                    {% if comments|length == 0%}
                        <div class="comment">
                            <p class="s-post-c s-post-c-middle">Wow, such empty ʕ•ᴥ•ʔ</p>
                        </div>
                    {% else %}
                        {% for comment in comments %}
                            <div class="comment">
                                <a href="{{ url_for('user_page', username=comment.author.username) }}" class="comment-author-info">{{ comment.author.username }}</a><small class="s-post-stat">{{ comment.date_posted.strftime('%Y-%m-%d %H:%M') }}</small class="s-post-stat">
                                <p class="s-post-c">{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', school=post.school.school_name|lower, post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}