{% extends 'layout.html' %}
{% block body %}
    <div id="main-container" class="std-m">
        <div class="lg-query">
            <h3>Pick a school to get started:</h3>
        </div>
        <div class="std-div">
            <div class="school-grid">
                <div class="school-elem">
                    <img src="{{ url_for('static', filename='images/scetlogo.png') }}" alt="">
                    <a href="{{ url_for('register', school='scet') }}">Register</a>
                </div>
                <div class="school-elem">
                    <img src="{{ url_for('static', filename='images/smartlogo.png') }}" alt="">
                    <a href="{{ url_for('register', school='smart') }}">Register</a>
                </div>
                <div class="school-elem">
                    <img src="{{ url_for('static', filename='images/sbmlogo.png') }}" alt="">
                    <a href="{{ url_for('register', school='sbm') }}">Register</a>
                </div>
                <div class="school-elem">
                    <img src="{{ url_for('static', filename='images/shtmlogo.png') }}" alt="">
                    <a href="{{ url_for('register', school='shtm') }}">Register</a>
                </div>
                <div class="school-elem">
                    <img src="{{ url_for('static', filename='images/ssslogo.png') }}" alt="">
                    <a href="{{ url_for('register', school='sss') }}">Register</a>
                </div>
                <div class="school-elem">
                    <img src="{{ url_for('static', filename='images/saatlogo.png') }}" alt="">
                    <a href="{{ url_for('register', school='saat') }}">Register</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}