{% extends 'layout.html' %}

{% block body %}
    <div id="main-container">
        <div id="school-wall">
            
            {% include './includes/_school-content.html' %}

            <div id="school-info">
                {% for post in posts.items %}
                    <div class="s-post">
                        <h3><a href="{{ url_for('post', school=post.school.school_name|lower, post_id=post.id) }}">{{ post.title }}</a></h3>
                        <small class="s-post-stat" >{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }} by <a href="{{ url_for('user_page', username=post.author.username) }}">{{ post.author.username }}</a></small>
                        <p class="s-post-c" >{{ post.content }}</p>
                        {% set comments_count = [] %}
                        {% for comment in comments %}
                            {% if comment.post.id == post.id %}
                                {{ comments_count.append(comment) or "" }}
                            {% endif %}
                        {% endfor %}
                        {% if comments_count|length == 1 %}
                            <small class="s-post-stat">{{ comments_count|length }} Comment</small>
                        {% elif comments_count|length == 0 %}
                            <small class="s-post-stat">No Comments</small>
                        {% else %}
                            <small class="s-post-stat">{{ comments_count|length }} Comments</small>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if posts.pages > 1 %}
                    <div class="std-div user-pagination">
                        {% if page > 1 %}
                            <div class="page-previous">
                                <a href="{{ url_for('school_page', school=title.lower(), page=page - 1) }}">‹ prev</a>
                            </div>
                        {% endif %}
                        {% if page < posts.pages %}
                            <div class="page-next">
                                <a href="{{ url_for('school_page', school=title.lower(), page=page + 1) }}">next ›</a>
                            </div>    
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}