{% extends 'layout.html' %}

{% block body %}
    <div class="user-profile std-div">
        <div class="user-about-left">
            <div class="user-pp">
                <img src="{{ url_for('static', filename='images/profile_pics/' + user.image_file) }}" alt="{{ user.username }} profile picture">
            </div>
            <div class="user-names">
                <div class="user-username-fullname">
                    <span class="fn">{{ user.first_name + " " + user.last_name }}</span>
                    <span class="un">&commat;{{ user.username }}</span>
                </div>
            </div>
            <div class="edu-particulars">
                <div class="user-school">
                    {{ user.school.school_name }}
                </div>
                <div class="user-role">
                    {{ user.role.role_name }}
                </div>
            </div>
            {% if user.username == current_user.username %}
            <div class="user-p-edit">
                <a href="{{ url_for('account') }}">Edit profile</a>
            </div>
            {% endif %}
        </div>
        <div class="user-about-right">
            <div class="user-longdesc">
                {{ user.long_desc }}
            </div>
            <div class="user-interests">
                {{ user.interests }}
            </div>
        </div>
    </div>
    <div class="user-activity-tabs std-div user-profile">
        {% if not if_comments %}
            <div class="posts-link tab-active">
                <a href="{{ url_for('user_page', username=user.username) }}">Posts</a>
            </div>
            <div class="comments-link">
                <a href="{{ url_for('user_page', username=user.username, tab='comments') }}">Comments</a>
            </div>
        {% else %}
            <div class="posts-link">
                <a href="{{ url_for('user_page', username=user.username) }}">Posts</a>
            </div>
            <div class="comments-link tab-active">
                <a href="{{ url_for('user_page', username=user.username, tab='comments') }}">Comments</a>
            </div>
        {% endif %}
        
    </div>
    <div class="user-activity">
        {% if not if_comments %}
            {% if posts.items|length == 0%}
                <div id="comments-section" class="comments-section-opt">
                    <div class="comment">
                        <p class="s-post-c s-post-c-middle">Wow, such empty ʕ•ᴥ•ʔ</p>
                    </div>
                </div>
            {% else %}
                {% for post in posts.items %}
                    <div class="s-post">
                        <h3><a href="{{ url_for('post', school=post.school.school_name|lower, post_id=post.id) }}">{{ post.title }}</a></h3>
                        <small class="s-post-stat" >{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }} by {{ post.author.username }}</small>
                        <p class="s-post-c" >{{ post.content }}</p>
                        {% set comments_count = [] %}
                        {% for comment in comments.items %}
                            {% if comment.post.id == post.id %}
                                {{ comments_count.append(comment) or "" }}
                            {% endif %}
                        {% endfor %}
                        {% if comments_count|length == 1 %}
                            <small class="s-post-stat">{{ comments_count|length }} Comment</small>
                        {% elif comments_count|length == 0 %}
                            <small class="s-post-stat">No Comments</small>
                        {% else %}
                            <small class="s-post-stat">{{ comments_count|length }} Comments</small>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div id="comments-section" class="comments-section-opt">
                {% if comments.items|length == 0%}
                    <div class="comment">
                        <p class="s-post-c s-post-c-middle">Wow, such empty ʕ•ᴥ•ʔ</p>
                    </div>
                {% else %}
                    {% for comment in comments.items %}
                    <a href="{{ url_for('post', school=comment.school.school_name|lower, post_id=comment.post.id) }}" class="comment-link">
                        <div class="comment">
                                <span class="comment-author-info">{{ comment.author.username }}</span><small class="s-post-stat">{{ comment.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
                                <p class="s-post-c">{{ comment.content }}</p>
                        </div>
                    </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if not if_comments %}
        {% if posts.pages > 1 %}
            <div class="std-div user-pagination">
                {% if p_page > 1 %}
                    <div class="page-previous">
                        <a href="{{ url_for('user_page', username=user.username, postpage=p_page - 1) }}">‹ prev</a>
                    </div>
                {% endif %}
                {% if p_page < posts.pages %}
                    <div class="page-next">
                        <a href="{{ url_for('user_page', username=user.username, postpage=p_page + 1) }}">next ›</a>
                    </div>    
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        {% if comments.pages > 1 %}
            <div class="std-div user-pagination">
                {% if c_page > 1 %}
                    <div class="page-previous">
                        <a href="{{ url_for('user_page', username=user.username, tab='comments', commentpage=c_page - 1) }}">‹ prev</a>
                    </div>
                {% endif %}
                {% if c_page < comments.pages %}
                    <div class="page-next">
                        <a href="{{ url_for('user_page', username=user.username, tab='comments', commentpage=c_page + 1) }}">next ›</a>
                    </div>    
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
        
{% endblock %}