* {
    margin: 0;
    padding: 0;
    /* color: #fff; */
}

@font-face {
    font-family: Proxima-Bold;
    src: url(../proxima_ssv/Proxima\ Nova\ Bold.otf);
}

@font-face {
    font-family: Proxima-Regular;
    src: url(../proxima_ssv/ProximaNova-Regular.otf);
}

a {
    text-decoration: none;
    /* color: rgb(238, 238, 238); */
    color: #fff;
}

#logo > h1 {
    color: #fff;
}

body {
    background-color: #131124;
    font-family: Proxima-Bold;
}

#header {
    padding: 10px 15px;
    background-color: #211a42;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    height: 5vh;
}

#logre-link {
    font-family: Proxima-Bold;
    margin: 0;
    color: #fff;
    border-color: #a72145;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    width: fit-content;
    padding: 8px 10px;
    background-color: #a72145;
}

#logre-link:hover {
    border-color: #fff;
}

#left-h-content {
    display: flex;
    justify-content: space-between;
    width: 380px;
    align-items: center;
}

/* #logo {
    float: left;
} */

#right-h-content {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-nav-links {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

#main-search > input {
    margin: 0;
    padding: 6px 10px;
    border-radius: 5px;
    border: 2px solid #fff;
}

#profiles {
    margin: 50px 100px 50px;
    /* background-color: #a57373; */
}

.profile-row {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
}

.profile-container {
    height: 400px;
    width: 260px;
    background-color: #1d1d44;
    /* background-color: #231E39; */
    border-radius: 30px;
    /* border: 1px solid #fff; */
    position: relative;
}

.profile-pic {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    position: relative;
}

.profile-pic > img {
    width: 160px;
    height: 160px;
    border: 3px solid #fff;
    /* background-image: url(./bg.jpg); */
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
}

.school-role {
    position: absolute;
    bottom: -10px;
    width: 100px;
    color: #fff;
    font-size: 12pt;
    background-color: #93b930;
    text-align: center;
    /* font-family: Proxima-Regular; */
}

.mid-container {
    margin: 20px 10% 10px;
    font-family: Proxima-Regular;
}

.user-name {
    color: #fff;
    font-size: 18px;
}

.short-desc {
    color: #b3b8cd;
    font-size: 13px;
    margin-top: 10px;    
}

.bottom-container {
    position: absolute;
    bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.bottom-container > button {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

button.connect {
    background-image: linear-gradient(to right, #2e2459, #3d2459);
    color: #fff;
    cursor: pointer;
    width: 100px;
}

button.commend {
    border: 2px solid #2e2459;
    background-color: #212129;
    cursor: pointer;
    color: #fff;
    width: 100px;
}

#jumbotron {
    height: 80vh;
    width: 100%;
    padding-top: 100px;
}

#jumbowrapper {
    padding: 100px 15%;
}

#jumbo-logo {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

#jumbo-logo > img {
    width: 100px;
}

#jumbo-logo > h1 {
    color: #fff;
    font-size: 60pt;
}

#jumbo-desc {
    color: #fff;
    margin-top: 15px;
    font-size: 20pt;
    width: 500px;
}

#jumbo-buttons {
    padding-top: 35px;
    width: 370px;
    display: flex;
    justify-content: space-between;
}

#jumbo-buttons > a {
    padding: 13px 40px;
    background-image: linear-gradient(to right, #a72145 50%, #a73a21 100%);
    border-radius: 5px;
    background-position: right 0;
    transition: background-position 300ms ease-in;
}

#jumbo-buttons > a:hover {
    background-position: 0 0;
}

#school-list {
    /* width: 100%; */
    padding: 40px 100px;
    background-color: #fff;
}

#school-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.school-col {
    width: 300px;
}

.school-col > img{
    max-width: 100%;
}

#wycd {
    /* width: 100%; */
    padding: 150px;
}

#wycd > div{
    padding-top: 100px;
    padding-bottom: 100px;
}

.do-row {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}

.d-left-content {
    width: 40%;
}

.d-left-content > h2 {
    color: #fff;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 10px;
}

.d-left-content > p {
    color: #fff;
    font-size: 20px;
    font-family: Proxima-Regular;
}

.d-right-content {
    width: 50%;
}

.d-right-content > img {
    height: 300px;
}

#footer {
    width: 100%;
    background-color: #211a42;
    height: 10vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

#footer > h3 {
    /* padding-top: 20px; */
    color: #fff;
}