<!-- Top header/navigation bar -->
<div id="header">
    <div id="left-h-content">
        <div id="logo">
            <h1>ASCURA</h1>
        </div>
        <div id="main-search">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div id="right-h-content">
        <div id="main-nav-links">
            <div>
                <a href="#">Home</a>
            </div>
            <div>
                <a href="#">About</a>
            </div>
        </div>
        <div id="login-register">
            <a id="logre-link" href="#">Login/Register</a>
        </div>
    </div> 
</div>