<!-- Top header/navigation bar -->
<div id="header">
    <div id="left-h-content">
        <div id="logo">
            <a href="{{ url_for('/') }}"><h1>ASCURA</h1></a>
        </div>
        <div id="main-search">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div id="right-h-content">
        <div id="main-nav-links">
            <div>
                <a href="{{ url_for('home') }}">Home</a>
            </div>
            <div>
                <a href="{{ url_for('about') }}">About</a>
            </div>
        </div>
        <div id="login-register">
            <a id="logre-link" href="{{ url_for('register') }}">Login/Register</a>
        </div>
    </div> 
</div>