<!-- Top header/navigation bar -->
<div id="header">
    <div id="left-h-content">
        <img src="{{ url_for('static', filename='images/Ascura Icon.png') }}" alt="">
        <div id="logo">
            <a href="{{ url_for('home') }}"><h1>ASCURA</h1></a>
        </div>
    </div>
    <div id="right-h-content">
        <div id="main-nav-links">
            <div>
                <a href="{{ url_for('about') }}">About</a>
            </div>
            {% if current_user.is_authenticated %}
            <div>
                <a href="{{ url_for('user_page', username=current_user.username) }}">Profile</a>
            </div>
            <div>
                <a href="{{ url_for('school_page', school=current_user.school.school_name|lower) }}">School</a>
            </div>
            <div>
                <a href="{{ url_for('account') }}">Account</a>
            </div>
            {% endif %}
        </div>
        <div id="login-register">
            {% if current_user.is_authenticated %}
                <a id="logre-link" href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
                <a id="logre-link" href="{{ url_for('login') }}">Sign In</a>
            {% endif %}
        </div>
    </div>
    <a href="javascript:void(0);" onclick="toggleNav()" class="test-burger"></a>
</div>