<div id="school-content">
    <div id="school-pp-container">
        <img id="school-pp" src="{{ school_img }}" alt="">
    </div>
    <p id="school-title">{{ school_n.school_name_full }}</p>
    <div class="school-member-count">
        <a class="school-m-count" href="{{ url_for('school_s_list', school=school_n.school_name.lower()) }}">{{ members }}<span> {{ 'members' if members > 1 or members == 0 else 'member'}}</span></a>
    </div>
    
    {% if current_user.school.school_name == title %}
        {% if is_post %}
            <div id="school-p-button">
                <a href="{{ url_for('school_page', school=school_n.school_name|lower) }}" class="btn btn-outline-info btn-info-asc">Back to posts</a>
            </div>
        {% else %}
            <div id="school-p-button">
                <a href="{{ new_post_link }}" class="btn btn-outline-info btn-info-asc">New Post</a>
            </div>
        {% endif %}
    {% endif %}
</div>