#p-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#p-wrapper > hr {
    background-color: #fff;
}

.profile-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-container {
    height: 400px;
    width: 260px;
    background-color: rgb(30, 32, 48);
    border-radius: 30px;
    position: relative;
    border: 1px solid rgb(19, 20, 33);
}

.profile-pic {
    display: flex;
    justify-content: space-around;
    padding-top: 15%;
    position: relative;
}

.profile-pic > img {
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
}

.school-role {
    position: absolute;
    bottom: -10px;
    width: 100px;
    color: #fff;
    font-size: 12pt;
    text-align: center;
}

.school-role-student {
    background-color: #30acb9;
}

.school-role-vice-chairman {
    background-color: #30b979;
}

.school-role-chairman {
    background-color: #93b930;
}

.school-role-lecturer {
    background-color: #5430b9;
}

.school-role-hop {
    background-color: #9530b9;
}

.school-role-dean {
    background-color: #b93030;
}

.mid-container {
    margin: 20px 10% 10px;
    font-family: Proxima-Regular;
}

.user-name {
    color: #fff;
    font-size: 18px;
}

.short-desc {
    color: #b3b8cd;
    font-size: 13px;
    margin-top: 10px;    
}

.bottom-container {
    position: absolute;
    bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    width: 80%;
}

.bottom-container > a {
    width: 100%;
    padding: 10px;
    color: rgb(200, 211, 245);
    background-color: rgb(30, 32, 48);
    border: 1px solid rgb(19, 20, 33);
    border-radius: 10px;
    text-align: center;
    transition: background-color, border-color 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bottom-container > a:hover {
    color: rgb(130, 170, 255);
    border-color: rgb(130, 170, 255);
}

.m-section {
    color: #fff;
}

.m-section-out {
    color: #fff;
}

.user-profile {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    height: max-content;
    padding: 20px;
}

.user-about-left {
    width: 20%;
    height: max-content;
}

.user-about-left > div {
    margin-bottom: 10px;
}

.user-username-fullname > span {
    display: block;
}

div.user-school, div.user-role {
    margin-bottom: 0;
}

.user-names, .edu-particulars {
    line-height: 1.2;
}

.user-pp > img {
    height: 150px;
    width: 150px;
}

.un {
    color: rgb(200, 211, 245);
}

.user-about-right {
    width: 79%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-longdesc {
    height: 60%;
    background-color: rgb(33, 35, 55);
    border: 1px solid rgb(10, 20, 33);
    padding: 10px 15px;
    border-radius: 10px;
    /*! color: #575757; */
}

.user-interests {
    height: max-content;
    background-color: rgb(33, 35, 55);
    border: 1px solid rgb(10, 20, 33);
    padding: 10px 15px;
    border-radius: 10px;
    /*! color: #575757; */
}

.user-activity {
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.user-activity > div.s-post, .user-activity > div#comments-section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.user-activity-tabs {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.user-activity-tabs > div {
    width: 48%;
}

.posts-link > a, .comments-link > a {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tab-active {
    border-bottom: 2px solid rgb(130, 170, 255);
}

.user-pagination {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.user-pagination > div {
    margin-left: 10px;
    margin-right: 10px;
}

.comment-link > .comment:hover {
    background-color: #282b44;
}

.profile-statuses {
    height: max-content;
    padding: 30px;
    background-color: rgb(30, 32, 48);
    border: 1px solid rgb(19, 20, 33);
    border-radius: 10px;
}

div.user-p-edit {
    width: 100%;
    margin-bottom: 0;
}

.user-p-edit > a {
    padding: 5px 10px;
    background-color: rgb(30, 32, 48);
    border: 1px solid rgb(19, 20, 33);
    border-radius: 10px;
    width: 100%;
    display: block;
    text-align: center;
}

.user-p-edit > a:hover {
    background-color: rgb(47, 51, 77);
    border: 1px solid rgb(130, 170, 255);
}

