{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="main-container">
    <div id="jumbotron">
        <div id="jumbowrapper">
            <div id="jumbo-logo">
                <img src="../static/images/avatar.png" alt="">
                <h1>ASCURA</h1>
            </div>
            <div id="jumbo-desc">
                Ascura makes keeping up-to-date on current events and connecting with people easy.
            </div>
            <div id="jumbo-buttons">
                <a href="#">GET STARTED</a>
                <a href="#">LEARN MORE</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}